* {
	box-sizing: border-box;
	
}

.div-form {
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 75%;
}

form {
	width: 100%;
}

.form-item {
	margin: 10px 0 10px 0;
}

.align-right {

	left: 30px;
}

.position-relative {
	position: relative;
}

.align-right-selector {
	left: 36px;
}

.form-item label {
	margin-right: 5px;
}

form div > label {
	color: blue;
}

.form-control {
	display: inline;
	width: 80%;
	padding: 10px;
	border-radius: 12px;
}

.btn {
	position: relative;
	left: 25%;
	width: 30%;
}

.bottom-border {
	border-bottom: 2px solid black;
	padding-right: 40px;
	padding-left: 8px;
	padding-top: 25px;
}