* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}




.div-form {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 75%;
	height: 100%;
}

form {
	width: 100%;
	height: 100%;
	background-color: lightgray;
	padding: 0 25px 0 25px;
	border-radius: 40px;
}

.form-item {
	margin: 10px 0 10px 0;
}

.align-right {

	left: 30px;
}

.position-relative {
	position: relative;
}

.align-right-selector {
	left: 36px;
}

.form-item label {
	margin-right: 15px;
}

form div > label {
	color: rgba(70, 70, 245, 0.822);
	font-weight: 600;
}

.form-control {
	display: inline;
	width: 80%;
	padding: 10px;
	border-radius: 12px;
}

.btn {
	position: relative;
	left: 25%;
	width: 30%;
}

.bottom-border {
	border-bottom: 2px solid black;
	padding-right: 40px;
	padding-left: 8px;
	padding-top: 25px;
}

.form-item {
	display: flex;
	justify-content: end;
	align-items: center;
}

input[type="file"] {
	display: none;
}

.divFile label {
	color: white;
	background-color: rgba(70, 70, 245, 0.822);
	height: 40px;
	width: 250px;
	margin-left: 15px;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.divFile span{
	margin-left: 15px;
}

.divFile {
	justify-content: start;
}

.btn {
	color: white;
	background-color: black;
	font-weight: 600;
	height: 50px;
	width: 150px;
	padding: 0;
	left: 0;
}

#rowBtn{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

/*CSS PARA SEGUNDA NAVBAR*/
.DetailsBar {
	display: flex;
	width: 100vw;
	height: 30px;
	background-color:#343a40;
	color: white;
	justify-content: space-between;
	align-items: center;
}

.details-itens {
	display: flex;
	align-items: center;
}

.details-itens span{
	margin-right: 5px;
}


th, td {
	text-align: center;
}

.table-buttons {
	margin-right: 5px;
}

.link {
	text-decoration: none;
	color:beige;
}

.table-buttons:hover {
	color:beige;
}

/*centralziando cadastro lojista*/

.formCadLojista input{
	width: 300px;
}

.formCadLojista {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mt-left {
	margin-left: 10px;
}

.table {
	width: 90%;
	margin: auto;
	margin-top: 45px;
	position: relative;
	left: 40px;
	background-color: lightgrey;
}

body {
	background-color: #7159c1;
	
}

.form-login {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: lightgrey;
	width: 50%;
	height: 350px;
	border-radius: 50px;
	margin: auto;
	margin-top: 50px;
}

.form-login button {
	margin-top: 30px;
	background-color: #7159c1;
}

.form-login input {
	width: 100%;
}

.div-relatorio {
	width: 100%; 
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(33,37,41);
	color: white;
	border-bottom: 3px solid rgb(162,164,165);
}

.div-relatorio > span {
	padding: 10px;
}

.ag-header-cell-label {
	justify-content: center;
 }